<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span class="w3-hide-small">Alesio</span></span>
    </div>
</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- Example row of columns -->
<!-- <div>
    <h1 class="display-3">Développeur</h1>
    <p>En apprentissage django sur le site que vous etes entrain de visiter :).</p>
</div>
<br>
<center>
    <div class="row">
        <div class="col-md-4">
            <img src="#" alt="localisation" height="50px" width="50px">
            <p>26 rue saint Martin 62200 Boulogne-sur-mer</p>
        </div>
        <div class="col-md-4">
            <img src="#" alt="phone" height="50px" width="50px">
            <p>06 74 69 63 16</p>
        </div>
        <div class="col-md-4">
            <img src="#" alt="mail" height="50px" width="50px">
            <p>nbeny@student.42.fr</p>
        </div>
    </div>
</center> -->
<!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->