/* Change class of bootstrap3 */

.color-important {
    background-color: #030a14;
}

.bg-dark {
    background-color: #000 !important;
}

.attachment {
    background-attachment: fixed;

}

.btn-outline-success {

    color: #4a58ff;
    background-color: transparent;
    background-image: none;
    border-color: #A7A37E;

}

.btn-primary {

    color: #fff;
    background-color: #17155a;
    border-color: #A7A37E;

}

.btn-secondary {

    color: #fff;
    background-color: #090756;
    border-color: #EFECCA;

}

.jumbotron {
    background-color: #375D81;
    background-image:url(../img/web-connections-convert.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
}

.space-div {
    display: flex;
    justify-content: space-around;
}

.margin-bot-div {
    margin-bottom: 5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

.div-form {
    margin: 0 30%;
}

.width-form {
/*
    width: 40%;
    max-width: 800px;
    */
}

/* Change base of CSS */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #A7A37E;
    text-align: left;

}

.div-style-for-me {
    background-color: #32478F;
    /*border-radius: 10px;*/
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
}

.padding-for-me {
    padding: 10px 10px; /* 2 valeurs */
    /*padding: 10px 10px 10px; 3 valeurs */
}

/* Images background possibility classes */

.hand-wold {
    background-image:url(../img/hand-world.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.banner-web {

    background-image:url(../img/banner-web.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* media windows inferieur to 768px */
@media screen and (max-width: 768px) {
.jumbotron {
    background-color: #0f1011;
    background-image:url(../img/web-connections-convert.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 4rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}
}

/* barre de progression (COMPETENCES) */
/*
.progress-bar { 
    width: 300px;
    height: 24px;
    padding: 4px;
    background-color: #191919;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -webkit-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
    -moz-box-shadow: inset 0 1px 2px #000, 0 1px 0 #2b2b2b;
}

.progress-bar:before { 
    content: '';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    background: #999;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 3px rgba(0, 0, 0, 0.4), 0 1px 1px #000;
}

.progress-bar:after { 
    content: '|||||||||||||';
    display: block;
    position: absolute;
    width: 200px;
    height: 24px;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    font: bold 120px/80px sans-serif;
    letter-spacing: -6px;
    color: #000;
    opacity: 0.06;
}

.blue:before { 
    background: #099;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#099), to(#006A6B));
    background: -moz-linear-gradient(top, #099, #006A6B);
  }
*/