<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <a class="nav-link {% if request.path == index %}active{% endif %}" href="{% url 'index' %}"><i class="fa fa-file"></i> Alesio</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        {% url 'home' as home %}
        {% url 'contact' as contact %}
        {% url 'about' as about %}
        {% url 'search' as search %}

        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == home %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}#home"><i class="fa fa-home"> Home</i></a>
            </li>
            <li class="nav-item {% if request.path == about %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}#about"><i class="fa fa-user"> À propos</i></a>
            </li>
            <li class="nav-item {% if request.path == search %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}#portfolio"><i class="fa fa-refresh" id="turnImg"></i> Mon Travail</a>
            </li>
            <li class="nav-item {% if request.path == contact %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}#contact"><i class="fa fa-envelope"> Contact</i></a>
            </li>
            <li class="nav-item {% if request.path == search %}active{% endif %}">
                <a class="nav-link" href="{% url 'search' %}"><i class="fa fa-search"> Search</i></a>
            </li>
            <li class="nav-item {% if request.path == chat %}active{% endif %}">
                <a class="nav-link" href="{% url 'chat' %}"><i class="fa fa-trash"> Chat</i></a>
            </li>
        </ul>

        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"> Account</i>
          </button>
          <div class="dropdown-menu">
                {% if not request.user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'account_signup' %}">Signup</a>
                <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                {% elif request.user.is_superuser %}
                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                {% endif %}
            </div>
          </div>
      </div>
</nav>